* {
  box-sizing: border-box;
}

body {
  background-color: #D8EBFB;
  font-size: 16px;
  margin: 0;
}

.nav {
  background-color: #92C4EF;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 1.1rem 2rem;
  list-style: none;
}

.nav-list li {
  margin-right: 2rem;
}

.nav-list a {
  color: #000;
  text-decoration: none;
}

.nav-list a:hover {
  opacity: 0.7;
}
